[submodule "optimization-theory/Homeworks - Computational/ref"]
	path = optimization-theory/Homeworks - Computational/ref
	url = https://github.com/tapyu/algorithms_private
	branch = opt
[submodule "optimization-theory/additional-exercises"]
	path = optimization-theory/additional-exercises
	url = https://github.com/cvxgrp/cvxbook_additional_exercises
[submodule "digital-communications/homework_solution"]
	path = digital-communications/homework_solution
	url = https://github.com/tapyu/algorithms_private
	branch = dig-comm
[submodule "adaptive-filtering/other_solutions/KennethBenicio"]
	path = adaptive-filtering/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-Msc-Filtragem-Adaptativa
[submodule "adaptive-filtering/other_solutions/lucasabdalah"]
	path = adaptive-filtering/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TIP7188-FILTRAGEM_ADAPTATIVA
[submodule "computational-intelligence/other_solutions/Kayannsoarez"]
	path = computational-intelligence/other_solutions/Kayannsoarez
	url = https://github.com/tapyu/ref-Inteligencia_Computacional
[submodule "computational-intelligence/other_solutions/LauraMMelo"]
	path = computational-intelligence/other_solutions/LauraMMelo
	url = https://github.com/tapyu/ref-comp_intelligence_couse
[submodule "computational-intelligence/other_solutions/ezequiasjunior"]
	path = computational-intelligence/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-ica2019.2
[submodule "computational-intelligence/other_solutions/filipepfarias"]
	path = computational-intelligence/other_solutions/filipepfarias
	url = https://github.com/tapyu/ref-Applied-Computational-Intelligence-2021.1
	branch = main
[submodule "digital-signal-processing/other_solutions/lucasabdalah"]
	path = digital-signal-processing/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = PROCESSAMENTO_DIGITAL_DE_SINAIS
[submodule "linear-algebra/other_solutions/KennethBenicio"]
	path = linear-algebra/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-BSc-Linear-Algebra
[submodule "multilinear-algebra/other_solutions/KennethBenicio"]
	path = multilinear-algebra/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-MSc-Multilinear-Algebra
[submodule "multilinear-algebra/other_solutions/LauraMMelo"]
	path = multilinear-algebra/other_solutions/LauraMMelo
	url = https://github.com/tapyu/ref-tensor_algebra_course
[submodule "multilinear-algebra/other_solutions/ezequiasjunior"]
	path = multilinear-algebra/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-tensor-alg
[submodule "multilinear-algebra/other_solutions/lucasabdalah"]
	path = multilinear-algebra/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TIP8419-ALGEBRA_LINEAR_E_MULTILINEAR
[submodule "digital-signal-processing/other_solutions/lucasabdalah_polytech_nice_sophia"]
	path = digital-signal-processing/other_solutions/lucasabdalah_polytech_nice_sophia
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = Filtrage-Numerique
[submodule "numerical-methods/other_solutions/lucasabdalah"]
	path = numerical-methods/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TI0117-COMPUTACAO_NUMERICA
[submodule "radio-link/other_solutions/ezequiasjunior"]
	path = radio-link/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-via-rad
[submodule "digital-communications/other_solutions/ezequiasjunior"]
	path = digital-communications/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-pds_lab2019-1
[submodule "pattern-recognition/other_solutions/KennethBenicio"]
	path = pattern-recognition/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-MSc-Reconhecimento-de-Padroes
[submodule "statistical-signal-processing/other_solutions/lucasabdalah"]
	path = statistical-signal-processing/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TI0124-PROCESSAMENTO_ESTATISTICO_DE_SINAIS
[submodule "gnss/gnss-data-processing/gLAB"]
	path = gnss/gnss-data-processing/gLAB
	url = https://github.com/tapyu/glab
