[submodule "optimization_theory/tip8300_nonlinear_opt_sist/computational_homeworks/ref"]
	path = optimization_theory/tip8300_nonlinear_opt_sist/computational_homeworks/ref
	url = https://github.com/tapyu/algorithms_private
	branch = opt
[submodule "optimization_theory/ee364a_additional_exercises"]
	path = optimization_theory/ee364a_additional_exercises
	url = https://github.com/cvxgrp/cvxbook_additional_exercises
[submodule "optimization_theory/ee364b_code_solution/proximal_and_operator_splitting_methods/proximal"]
	path = optimization_theory/ee364b_code_solution/proximal_and_operator_splitting_methods/proximal
	url = https://github.com/cvxgrp/proximal

[submodule "communication_systems/digital_communications/homework_solution"]
	path = communication_systems/digital_communications/homework_solution
	url = https://github.com/tapyu/algorithms_private
	branch = dig-comm
[submodule "communication_systems/radio_link/other_solutions/ezequiasjunior"]
	path = communication_systems/radio_link/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-via-rad
[submodule "communication_systems/digital_communications/other_solutions/ezequiasjunior"]
	path = communication_systems/digital_communications/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-pds_lab2019-1
[submodule "communication_systems/gnss/gnss_data_processing/gLAB"]
	path = communication_systems/gnss/gnss_data_processing/gLAB
	url = https://github.com/tapyu/glab

[submodule "adaptive_filtering/other_solutions/KennethBenicio"]
	path = adaptive_filtering/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-Msc-Filtragem-Adaptativa
[submodule "adaptive_filtering/other_solutions/lucasabdalah"]
	path = adaptive_filtering/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TIP7188-FILTRAGEM_ADAPTATIVA

[submodule "artificial_intelligence/tip8311_pattern_recognition/other_solutions/KennethBenicio"]
	path = artificial_intelligence/tip8311_pattern_recognition/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-MSc-Reconhecimento-de-Padroes
[submodule "artificial_intelligence/tip7077_computational_intelligence/other_solutions/Kayannsoarez"]
	path = artificial_intelligence/tip7077_computational_intelligence/other_solutions/Kayannsoarez
	url = https://github.com/tapyu/ref-Inteligencia_Computacional
[submodule "artificial_intelligence/tip7077_computational_intelligence/other_solutions/LauraMMelo"]
	path = artificial_intelligence/tip7077_computational_intelligence/other_solutions/LauraMMelo
	url = https://github.com/tapyu/ref-comp_intelligence_couse
[submodule "artificial_intelligence/tip7077_computational_intelligence/other_solutions/ezequiasjunior"]
	path = artificial_intelligence/tip7077_computational_intelligence/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-ica2019.2
[submodule "artificial_intelligence/tip7077_computational_intelligence/other_solutions/filipepfarias"]
	path = artificial_intelligence/tip7077_computational_intelligence/other_solutions/filipepfarias
	url = https://github.com/tapyu/ref-Applied-Computational-Intelligence-2021.1
	branch = main

[submodule "digital_signal_processing/other_solutions/lucasabdalah"]
	path = digital_signal_processing/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = PROCESSAMENTO_DIGITAL_DE_SINAIS
[submodule "digital_signal_processing/other_solutions/lucasabdalah_polytech_nice_sophia"]
	path = digital_signal_processing/other_solutions/lucasabdalah_polytech_nice_sophia
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = Filtrage-Numerique

[submodule "linear_algebra/other_solutions/KennethBenicio"]
	path = linear_algebra/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-BSc-Linear-Algebra
[submodule "multilinear_algebra/other_solutions/KennethBenicio"]
	path = multilinear_algebra/other_solutions/KennethBenicio
	url = https://github.com/tapyu/ref-MSc-Multilinear-Algebra
[submodule "multilinear_algebra/other_solutions/LauraMMelo"]
	path = multilinear_algebra/other_solutions/LauraMMelo
	url = https://github.com/tapyu/ref-tensor_algebra_course
[submodule "multilinear_algebra/other_solutions/ezequiasjunior"]
	path = multilinear_algebra/other_solutions/ezequiasjunior
	url = https://github.com/tapyu/ref-tensor-alg
[submodule "multilinear_algebra/other_solutions/lucasabdalah"]
	path = multilinear_algebra/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TIP8419-ALGEBRA_LINEAR_E_MULTILINEAR

[submodule "numerical_methods/other_solutions/lucasabdalah"]
	path = numerical_methods/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TI0117-COMPUTACAO_NUMERICA

[submodule "statistical_signal_processing/other_solutions/lucasabdalah"]
	path = statistical_signal_processing/other_solutions/lucasabdalah
	url = https://github.com/tapyu/ref-Courses-HWs
	branch = TI0124-PROCESSAMENTO_ESTATISTICO_DE_SINAIS
[submodule "artificial_intelligence/book_simon_haykin/official_matlab_code_sol"]
	path = artificial_intelligence/book_simon_haykin/official_matlab_code_sol
	url = https://github.com/tapyu/haykin-neural-networks-and-learning-machines
[submodule "artificial_intelligence/book_simon_haykin/other_solutions/ocimakamboj"]
	path = artificial_intelligence/book_simon_haykin/other_solutions/ocimakamboj
	url = https://github.com/ocimakamboj/NNLS
[submodule "artificial_intelligence/book_simon_haykin/other_solutions/ppotoc"]
	path = artificial_intelligence/book_simon_haykin/other_solutions/ppotoc
	url = https://github.com/ppotoc/Fundamentals-of-Neural-Networks
[submodule "artificial_intelligence/book_simon_haykin/other_solutions/irustandi"]
	path = artificial_intelligence/book_simon_haykin/other_solutions/irustandi
	url = https://github.com/irustandi/Neural-Networks-and-Learning-Machines-Haykin
