###################################################
#
#     gLAB - Version: 2.0.0
#     This is a self-generated configuration file.
#     Created at: 09:43 on 27/11/2010
#
###################################################


###################################################
#     INPUT section
###################################################


###################################################
#     PREPROCESS section
###################################################

-pre:setrecpos SINEX
-pre:dec 300
-pre:elevation 5
--pre:eclipse
--pre:cs:li
--pre:cs:bw
-pre:cs:l1c1
-pre:cs:lli
-pre:availf G1
-pre:smooth 0

###################################################
#     MODELLING section
###################################################

-model:satellitehealth
-model:satclocks
-model:satmovinflight
-model:earthrotinflight
--model:satphasecenter
-model:relclock
-model:iono Klobuchar
--model:trop
-model:dcb:p1p2 RINEX
-model:dcb:p1c1 flexible
--model:windup
--model:solidtides
--model:relpath
--model:recphasecenter
--model:arp

###################################################
#     FILTER section
###################################################

--filter:trop
-filter:nav kinematic
--filter:backward
-filter:phi:dr 0
-filter:q:dr 1e8
-filter:p0:dr 1e8
-filter:phi:clk 0
-filter:q:clk 9e10
-filter:p0:clk 9e10
-filter:fixedweight 1 1
-filter:meas pseudorange
-filter:select 1 C1C

###################################################
#     OUTPUT section
###################################################

-output:file gLAB1.out
-print:info
-print:cycleslips
-print:input
-print:model
-print:satellites
-print:prefit
-print:postfit
-print:filter
-print:output
--print:satdiff
--print:satstat
--print:satstattot
--print:meas

###################################################
#     End of self-generated parameters
###################################################
